body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
}

.barra {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-menu a, .barra a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

select {
    padding: 10px;
    margin: 10px 0;
    position: relative;
    left: 83vw;
    top: 6vh;
    width: 200px;
    font-size: 20px;
}

select, p{
    font-weight: 600;
}

p{
    font-size: 20px;
}

.cronograma table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 30px;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

th {
    background-color: #3498db;
    color: white;
}

td {
    background-color: #ecf0f1;
}

#home {
    cursor: pointer;
}

a {
    color: #2c3e50;
}

a:hover {
    color: #3498db;
}

p{
    padding: 10px;
    margin: 10px 0;
    position: relative;
    left: 83vw;
    top: 8vh;
}