body {
    width: 1280px;
    height: 720px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #edf2f4;
    overflow: hidden;
}

nav{
    box-shadow: 0 5px 5px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    background-color: #023e8a;
    margin: 0%;
    padding-top: 30px;
}

nav h1{
    font-weight: 900;
    margin-left: 30px;
    font-size: 60px;
    color: white;
    -webkit-text-stroke: 1px #3a86ff;
}

nav .btn{ 
    margin-right: 30px;
    width: 190px;
    font-weight: 900;
    font-size: 20px;
}

.row{
    margin: 0%;
}

.card{
    border: 1px solid black;
    box-shadow: 0 3px 3px #001219;
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 5px 3px #001219;
}

.card-title{
    font-weight: bold;
}

p{
    font-weight: 500;
}

footer{
    background-color: #f8f7ff;
    position: relative;
    top: 5vh;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span{
    font-weight: 900;
}