body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    overflow: hidden;
   
}

.turma{
    height: 46px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: black;
    position: relative;
    left: 61vh;
    bottom: 68px;
    box-shadow: 0 2px 2px black;
    transition: 1s;
}

select{
    box-shadow: 0 2px 2px black;
    transition: 1s;
}

select:hover, .turma:hover{
    box-shadow: 0 0 0 black;
}

.frame-top{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    width: 100%;
    height: 10vw;
    background-color: blue;
    color: white;
    font: 900;
}

.bolCrono {
    display: flex;
    gap: 30px;
    margin-left: 60px;
    font-size: x-large;
    text-align: center;
}

.barra-menu {
    display: flex;
    gap: 10px;
    height: 50px;
    position: relative;
    left: 30vh;
    align-items: center;
    justify-content: center;
}

.barra {
    display: flex;
    gap: 10px;
    height: 50px;
    position: relative;
    bottom: 24px;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to left, white, rgb(50, 50, 179));
}

a {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

a:hover {
    background-color: rgb(62, 33, 143);
    color: white;
}
.bolCrono p{
    color: red;
    margin-left: 100px;
}

h3{
    width: 190px;
    border: 1px solid rgb(151, 111, 111);
    background-color: cornflowerblue;
    color: white;
}


.frame-meio{
    width: 100%;
    height: 45vw;
}

#student{
    width: 280px;
}

#year, #class{
    width: 250px;
}

.frame-meio select{
    width: 180px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font: 900;
    margin-top: 50px;
    margin-left: 50px;
}

.frame-meio input{
    margin-top: 50px;
    margin-left: 50px;
    height: 40px;
    width: 200px;
}

.frame-meio span button{
    height: 45px;
    width: 100px;
    font: 900;
    font-size: 15px;
    background-color: greenyellow;
    color: black;
    border: 1px solid black;
}

.frame-meio h1{
    color: rgb(0, 0, 0);
    text-align: center;
    width: 10%;
    margin-left: 40%;
    position: relative;
    bottom: 100px;
}

.frame-meio table{
    border: 1px solid black;
    width: 80vw;
    margin-left: 10%;
    height: 20vw;
    position: relative;
    bottom: 100px;
}

.frame-meio th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #3a86ff;
    color: white;
    font-weight: bold;
}

.frame-meio h5{
    color: rgb(0, 0, 0);
    text-align: center;
    width: 10%;
    margin-left: 40%;
}

#bi{
    width: 250px;
}