body {
    width: 1280px;
    height: 720px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #edf2f4;
    overflow: hidden;
}

.frame-top h1{
    font-weight: 900;
    margin-left: 30px;
    font-size: 60px;
    color: white;
    -webkit-text-stroke: 1px #ffffff;
}

.turma{
    height: 46px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: black;
    position: relative;
    top: 3.3vh;
    box-shadow: 0 2px 2px black;
    transition: 1s;
}

select{
    box-shadow: 0 2px 2px black;
    transition: 1s;
}

select:hover, .turma:hover{
    box-shadow: 0 0 0 black;
}

.frame-top{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    width: 100%;
    height: 10vw;
    background-color: #023e8a;
    color: white;
    font: 900;
}

.bolCrono {
    display: flex;
    gap: 30px;
    margin-left: 60px;
    font-size: x-large;
    text-align: center;
}

.barra {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-menu a, .barra a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

a {
    color: #2c3e50;
}

a:hover {
    color: #3498db;
}

.sel{
    display: flex;
    height: 20vh;
    background-color: #e7ecef;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sel select{
    background-color: #ffffff;
    border: 1px solid black;
    width: 180px;
    height: 50px;
    font-weight: 900;
    text-align: center;
}

.turma{
    background-color: #ffffff;
    border: 1px solid black;
    margin-bottom: 65px;
    width: 200px;
}

#no{
    text-align: center;
    font-weight: 900;
}

.notasB{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.frame-meio table{
    border: 1px solid black;
    width: 90vw;
    height: 20vw;
}

.frame-meio th, td {
    border: none;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #3a86ff;
    color: white;
    font-weight: bold;
}