body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    height: 51vw;
}

.container {
    width: 100%;
    height: 20vh;
    border: 1px solid black;
    text-align: center;
    background: #a78a7f;
}

h1 {
    font-size: 90px;
    font-weight: 800;
    color: white;
    -webkit-text-stroke: 1px rgb(33, 33, 109);
    margin-bottom: 20px;
}

.barra {
    background-color: #e7d7c1;
    color: rgb(12, 11, 11);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-menu a, .barra a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 900;
    margin: 0 10px;
}

a {
    color: #2c3e50;
}

a:hover {
    color: #ffffff;
    font-weight: 900;
}

.search{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

span input{
    width: 250px;
    height: 40px;
    padding-left: 10px;
    font-weight: 300;
}

label{
    font-size: 40px;
    font-weight: 900;
}

span button{
    width: 100px;
    height: 42px;
    color: white;
    font-weight: 900;
    background-color: #00a5cf;
    border: 1px solid #0d47a1;
}

span button:hover{
    background-color: #179ec0;
    color: rgb(223, 223, 223);
}

option{
    font-weight: 900;
}


.cronograma {
    margin-top: 30px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
    
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #e7d7c1;
}

td {
    
    background-color: #f5f5f5;
}

td[id^="Matemática"], td[id^="Historia"], td[id^="Filosofia"], td[id^="Fisica"], td[id^="Quimica"] {
    font-weight: bold;
}


.pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 10vh;
}

.pesquisa select{
    width: 250px;
    height: 50px;
    font-weight: 700;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    font-size: 15px;
}
