body {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container {
    position: relative;
    bottom: 25px;
    width: 100vw;
    height: 20vh;
    background: linear-gradient(to left, white, blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 100px;
    font-weight: 800;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: 'Roboto', sans-serif;
}

.barra-menu {
    display: flex;
    gap: 10px;
    height: 50px;
    position: relative;
    left: 30vh;
    align-items: center;
    justify-content: center;
}

.barra {
    display: flex;
    gap: 10px;
    height: 50px;
    position: relative;
    bottom: 24px;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to left, white, rgb(50, 50, 179));
}

a {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

a:hover {
    background-color: rgb(62, 33, 143);
    color: white;
}

.avisos {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 5px blue;
    width: 60vw;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    background-color: white;
    position: relative;
    top: 10vh;
}

h2 {
    font-size: 50px; 
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;

}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px; /
}

th, td {
    border: 1px solid rgb(165, 144, 144);
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(70, 114, 197);
    color: white;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
